/***********************
  General Settings
***********************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}



/***********************
  Header
***********************/
.main-header {
  background-color: #7377BF;
}

.main-header ul {
  margin: 0;
  padding: 20px 15px;
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header li {
  margin-right: 5px;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-header h1 {
  font-size: 1.4em;
}

.main-header h1 span {
  font-weight: 100;
  position: relative;
}

/* Targets the TM element */
.main-header h1 span:last-child {
  font-size: .7em;
  position: absolute;
}

/* Targets the bell icon element */
.main-header li:nth-of-type(2) {
  height: 20px;
  width: 22px;
  margin-left: auto;
  position: relative;
}

.main-header li:nth-of-type(2) svg {
  opacity: .7;
}

.main-header li:nth-of-type(2) svg:hover {
  opacity: 1;
}

#dropdown-notification-menu {
  position: absolute;
  background-color: #fff;
  color: #000;
  z-index: 200;
  padding: 5px;
  border-radius: 10px;
  display: none;
}

#dropdown-notification-menu h2 {
  font-size: 1em;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

#dropdown-notification-menu p {
  font-size: .9em;
}


.icon-bell {
  fill: #FFFFFF;
}

.main-header li:nth-of-type(2) a {
  position: relative;
}

.icon-bell-notification {
  height: 7px;
  width: 7px;
  background-color: #3AC162;
  position: absolute;
  top: -10px;
  right: -2px;
  border-radius: 50%;
}

/* Targets the image and the name of the user */
.main-header li:last-child {
  padding: 7px 0px 7px 5px;
  border-left: 1px solid #4D4C72;
  font-weight: lighter;
}

.main-header li:last-child img {
  display: none;
}



/***********************
  Main-nav
***********************/
.main-nav {
  background-color: #4D4C72;
}

.main-nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.main-nav li {
  height: 30px;
  width: 30px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
}

.main-nav svg {
  opacity: .7;
}

.main-nav svg:hover {
  opacity: 1;
}

.main-nav .icon {
  fill:#FFFFFF;
}



/***********************
  Dashboard-header
***********************/
.dashboard-header {
  text-align: center;
}

.dashboard-header h2 {
  font-weight: normal;
  color: #777;
}

.dashboard-header-searchbar {
  position: relative;
}

.dashboard-header-searchbar input {
  width: 90%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}

span.magnifying-glass {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 6%;
}

.magnifying-glass-icon {
  fill: #7377BF;
}

.dashboard-header-searchbar input:hover,
.dashboard-header-searchbar input:focus {
  border-color: #7377BF;
}

.dashboard-header-searchbar input:focus {
  outline: 0;
}



/***********************
  Alert-box
***********************/
.alert-box {
  background-color: #7377BF;
  color: #fff;
  text-align: justify;
  font-size: .9em;
  margin: 20px 10px;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
}

.alert-box p {
  margin: 0;
  position: relative;
}

.alert-box span {
  position: absolute;
  right: -30px;
  top: 0px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  opacity: .7;
}

.alert-box span:hover {
  opacity: 1;
}

.alert-box .close-button {
  fill: #FFFFFF;
  stroke-width: 2;
}



/***********************
  Web Traffic Widget
***********************/
.web-traffic-widget-container {
  width: 95%;
  margin: 10px auto;
}

.web-traffic-widget-container nav ul {
  list-style: none;
  display: flex;
  color: #777;
}

.web-traffic-widget-container nav li {
  margin: 0 5px;
}

.web-traffic-widget-container nav h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.web-traffic-widget-container nav li:nth-of-type(2) {
  margin-left: auto;
}

.web-traffic-widget-container nav a {
  text-decoration: none;
  font-weight: bold;
  color: #777;
  font-size: .9em;
  padding: 5px 10px;
  transition: .4s;
}

.web-traffic-widget-container nav a:hover {
  background-color: #81C98F;
  color: #fff;
  border-radius: 20px;
}

.web-traffic-widget {
  max-width: 100%;
}



/***********************
  Daily Traffic and Mobile Users Widget
***********************/
.daily-and-mobile-container {
  width: 95%;
  margin: 20px auto;
  display: flex;
}

.daily-traffic-container,
.mobile-users-container {
  width: 50%;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.daily-and-mobile-container canvas {
  width: 100%;
}

.daily-and-mobile-container h3 {
  text-transform: uppercase;
  color: #777;
}

.daily-traffic-container {
  border-right: 1px solid #ccc;
}

.mobile-users-widget {
  max-height: 300px;
  max-width: 300px;
}



/***********************
  Social Stats
***********************/
.social-stats-main-container {
  width: 95%;
  margin: 20px auto;
}

  .social-stats-main-container h3 {
  text-transform: uppercase;
  color: #777;
}

.social-stats-sub-container {
  display: flex;
}

.social-stats {
  margin-right: 30px;
  width: 30%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  background-color: #FBFBFB;
  border-radius: 10px;
}



/***********************
  New Members and Recent Activity
***********************/
.new-members-and-recent-activity {
  width: 95%;
  margin: 20px auto;
  display: flex;
}

.new-members-and-recent-activity h3 {
  text-transform: uppercase;
  color: #777;
}

.new-members,
.recent-activity {
  width: 50%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.new-members {
  border-right: 1px solid #ccc;
}

.new-members-information {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.new-members-information:last-child {
  border: none;
}

.new-members-information p:last-child {
  margin-left: auto;
  vertical-align: middle;
}

.members-name {
  color: #777;
  font-weight: bold;
}

.members-email {
  color: #A8AAD5;
}

.members-inscritpion-date {
  color: #777;
  font-weight: lighter;
}

.members-activity {
  color: #777;
}

.members-activity-date {
  color: #777;
  font-weight: bold;
  font-size: .9em;
}



/***********************
  Message User and Settings
***********************/
.message-user-and-settings {
  width: 95%;
  margin: 20px auto;
  display: flex;
}

.message-user-and-settings h3 {
  text-transform: uppercase;
  color: #777;
}

.message-user,
.settings {
  width: 50%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.message-user {
  border-right: 1px solid #ccc;
}

.message-user input,
.message-user textarea,
.message-user button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}


.message-user button {
  background-color: #7377BF;
  color: #fff;
}
