/***********************
  General Settings
***********************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}



/***********************
  Header
***********************/
.main-header {
  background-color: #7377BF;
}

.main-header ul {
  margin: 0;
  padding: 20px 15px;
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header li {
  margin-right: 5px;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-header h1 {
  font-size: 1.4em;
}

.main-header h1 span {
  font-weight: 100;
  position: relative;
}

/* Targets the TM element */
.main-header h1 span:last-child {
  font-size: .7em;
  position: absolute;
}

/* Targets the svg element */
.main-header li:nth-of-type(2) {
  height: 20px;
  width: 22px;
  margin-left: auto;
  opacity: .7;
}

.main-header li:nth-of-type(2):hover {
  opacity: 1;
}

.icon-bell {
  fill: #FFFFFF;
}

.main-header li:nth-of-type(2) a {
  position: relative;
}

.icon-bell-notification {
  height: 7px;
  width: 7px;
  background-color: #3AC162;
  position: absolute;
  top: -10px;
  right: -2px;
  border-radius: 50%;
}

/* Targets the image and the name of the user */
.main-header li:last-child {
  padding: 7px 0px 7px 5px;
  border-left: 1px solid #4D4C72;
  font-weight: lighter;
}

.main-header li:last-child img {
  display: none;
}



/***********************
  Main-nav
***********************/
.main-nav {
  background-color: #4D4C72;
}

.main-nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.main-nav li {
  height: 30px;
  width: 30px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
}

.main-nav svg {
  opacity: .7;
}

.main-nav svg:hover {
  opacity: 1;
}

.main-nav .icon {
  fill:#FFFFFF;
}



/***********************
  Dashboard-header
***********************/
.dashboard-header {
  text-align: center;
}

.dashboard-header h2 {
  font-weight: normal;
  color: #777;
}

.dashboard-header-searchbar {
  position: relative;
}

.dashboard-header-searchbar input {
  width: 90%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}

span.magnifying-glass {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 6%;
}

.magnifying-glass-icon {
  fill: #7377BF;
}

.dashboard-header-searchbar input:hover,
.dashboard-header-searchbar input:focus {
  border-color: #7377BF;
}

.dashboard-header-searchbar input:focus {
  outline: 0;
}



/***********************
  Alert-box
***********************/
.alert-box {
  background-color: #7377BF;
  color: #fff;
  text-align: justify;
  font-size: .9em;
  margin: 20px 10px;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
}

.alert-box p {
  margin: 0;
  position: relative;
}

.alert-box span {
  position: absolute;
  right: -30px;
  top: 0px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  opacity: .7;
}

.alert-box span:hover {
  opacity: 1;
}

.alert-box .close-button {
  fill: #FFFFFF;
  stroke-width: 2;
}
