
  /***********************
    Social Stats
  ***********************/
  .social-stats-sub-container {
    display: flex;
  }

  .social-stats {
    margin-left: 10px;
  }

  .social-stats:first-child {
    margin-left: 0;
  }

  /***********************
    Message User and Settings
  ***********************/
  .message-user-and-settings {
    display: flex;
  }

  .message-user {
    border-right: 1px solid #ccc;
  }
}
