/***********************
  Desktop Elements
***********************/
@media screen and (min-width: 1024px) {
  #main-wrapper {
    display: flex;
  }

  #full-page-section {
    width: 90%;
  }

  .main-nav {
    width: 10%;
  }

  .main-nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .main-nav li {
    margin-top: 40px;
  }

  /***********************
    Daily Traffic and Mobile Users Widget
  ***********************/
  .mobile-users-widget-and-legend {
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
  }

  .mobile-users-widget {
    max-height: 200px;
    max-width: 200px;
  }

  .mobile-users-legend {
    margin-top: 0;
    flex-direction: column;
  }

  /***********************
    New Members and Recent Activity
  ***********************/
  .new-members-and-recent-activity {
    display: flex;
  }

  .new-members,
  .recent-activity {
    width: 50%;
  }

  .new-members {
    border-right: 1px solid #ccc;
  }

  .members-email {
    opacity: .7;
    cursor: pointer;
  }

  .members-email:hover {
    opacity: 1;
  }
}
