/***********************
  Tablet Elements
***********************/
@media screen and (min-width: 768px) {
  /***********************
    Dashboard-header
  ***********************/
  .dashboard-header {
    display: flex;
    align-items: center;
  }

  .dashboard-header h2 {
    margin-left: 10px;
    margin-right: 15px;
  }

  .dashboard-header-searchbar {
    margin-left: auto;
    width: 100%;
    padding: 14px 0px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  /***********************
    Web Traffic Widget
  ***********************/
  

  /***********************
    Daily Traffic and Mobile Users Widget
  ***********************/
  .daily-and-mobile-container {
    display: flex;
    flex-direction: row;
  }

  .daily-traffic-container,
  .mobile-users-container {
    width: 50%;
  }

  .daily-traffic-container {
    border-right: 1px solid #ccc;
  }

  .mobile-users-widget {
    max-height: 150px;
    max-width: 150px;
  }

  /***********************
    Social Stats
  ***********************/
  .social-stats-sub-container {
    display: flex;
  }

  .social-stats {
    margin-left: 10px;
  }

  .social-stats:first-child {
    margin-left: 0;
  }

  /***********************
    Message User and Settings
  ***********************/
  .message-user-and-settings {
    display: flex;
  }

  .message-user {
    border-right: 1px solid #ccc;
  }
}
