
/***********************
  New Members and Recent Activity
***********************/
.new-members-and-recent-activity {
  width: 95%;
  margin: 20px auto;
}

.new-members-and-recent-activity h3 {
  text-transform: uppercase;
  color: #777;
}

.new-members,
.recent-activity {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.new-members-information {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.new-members-information:last-child {
  border: none;
}

.new-members-information p:last-child {
  margin-left: auto;
  vertical-align: middle;
}

.members-name {
  color: #777;
  font-weight: bold;
}

.members-email {
  color: #A8AAD5;
}

.members-inscritpion-date {
  color: #777;
  font-weight: lighter;
}

.members-activity {
  color: #777;
}

.members-activity-date {
  color: #777;
  font-weight: bold;
  font-size: .9em;
}



/***********************
  Message User and Settings
***********************/
.message-user-and-settings {
  width: 95%;
  margin: 20px auto;
}

.message-user-and-settings h3 {
  text-transform: uppercase;
  color: #777;
}

.message-user,
.settings {
  width: 100%;
  padding: 10px;
}

.message-user {
  border-bottom: 1px solid #ccc;
}

.message-user input,
.message-user textarea,
.message-user button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.message-user button {
  background-color: #7377BF;
  color: #fff;
}

.settings button {
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  margin: 0 2.5%;
  background-color: #7377BF;
  color: #fff;
}

button {
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #81C98F;
}
