// Social Stats
.social-stats-main-container {
  width: 95%;
  margin: 20px auto;
}

.social-stats-main-container h3 {
  text-transform: uppercase;
  color: #777;
}

.social-stats {
  margin: 10px auto;
  width: 90%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  background-color: #FBFBFB;
  border-radius: 10px;
}
