// Web Traffic Widget
.web-traffic-widget-container {
  margin: 10px auto;
}

.web-traffic-widget-container nav ul {
  display: flex;
  flex-direction: column;
  color: #777;
  padding-left: 0;
}

.web-traffic-widget-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.web-traffic-widget-container nav a {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #777;
  font-size: .9em;
  transition: .4s;
}

.web-traffic-widget-container nav a:hover {
  background-color: #81C98F;
  color: #fff;
}
